.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
}

.author-detail-books {
  margin-left:20px;
  margin-top:20px;
}

.books-of-author {
  margin-left:20px;
  margin-top:20px;
}

.genres {
  display: inline;
  padding-right:10px;
}

.bookinstance-delete {
  margin-left:20px;
}
